body {

	background-color: #bc8f8f;

	font-family: "Arial", Georgia, Sans-Serif;
}

h1 {

	font-size: 50px;
	margin-top: 100px;
	text-align: center;
	color: white;
	font-family: "Arial", Georgia, Sans-Serif;	
	
}


#menu {

	margin-top: 100px;
	text-align: center;

}


#login {

	text-decoration: none;

	font-family: "Arial", Georgia, Sans-Serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
	font-size: 25px;
	background-color: yellow;
	color: purple;
}
#regist {

	text-decoration: none;
	font-family: "Arial", Georgia, Sans-Serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 25px;
	background-color: yellow;
	color: purple;
}

#login:hover {

	background-color: purple;
	color: white;
}



#regist:hover {

	background-color: purple;
	color: white;
}



#loginForm {


	color: white;
	font-family: "Arial", Georgia, Sans-Serif;
	display: none;
	width: 500px;
	height: 200px;
	background-color: #bc8f8f;
	text-align: center;
	margin-left: 30%;
	margin-top: 40px;
}

#registForm {

	color: white;
	font-family: "Arial", Georgia, Sans-Serif;
	display: none;
	width: 500px;
	height: 200px;
	background-color: #bc8f8f;
	text-align: center;
	margin-left: 30%;
	margin-top: 40px;
}



#header h2 {

	font-family: "Arial", Georgia, Sans-Serif;
	color: white;
	text-align: center;
	margin-top: 100px;
}

#homeMenu {

	text-align: center;
	width: 800px;
	margin-top: 60px;
	margin-left: 19%;
}

#homeMenu a{

	text-decoration: none;
	background-color: yellow;
	width: auto;
	height: auto;
	padding: 5px;
	font-family: "Arial", Georgia, Sans-Serif;
	color: purple;
	text-align: center;
	margin-right: 15px;

}

#homeMenu a:hover {

	background-color: purple;
	color: white;
}

#createForm {

	margin-top: 50px;
	text-align: center;
	

}

#blogText{

	height: 200px;
	width: 200px;
}

#createForm p{

	color: white;
}

#yourPosts {

	height: auto;
	width: 600px;
	margin-bottom: 40px;
	margin: 0 auto;
	margin-top: 60px;
}

#yourPosts h4 {

	color: white;
	width: 300px;
	height: 20px;
	padding: 3px;
}

#yourPosts li {

	list-style-type: none;
	margin-bottom: 40px;
}

#succesRegist {

	margin-top: 20px;
	margin-bottom: 30px;
}
#succesRegist p{

	font-size: 15px;

}

#allPosts {

	height: auto;
	width: 600px;
	margin-bottom: 40px;
	margin: 0 auto;
	margin-top: 60px;
}

#blogTitle {

	display: block;
	text-decoration:none;
	color: white;
	margin-top: 30px;
	font-size: 20px;

	
}

#allPosts p {

	margin-top: 0px;
	font-size: 12px;
}

#allPosts li {

	list-style-type: none;
	margin-bottom: 20px;
	
}

#commentForm a {

	font-size: 15px;
	color: purple;
	margin-bottom: 90px;

}


#commentForm form {

	font-size: 13px;
	color: purple;
	margin-top: 25px;
}



#commentForm {

	margin-top: 40px;
	margin-bottom: 50px;
	margin-left: 29%;
	

}



#individualBlog {


	width: 600px;
	margin: 0 auto;

}

#individualBlog p{

	margin-top: -15px;
	font-size: 12px;
}

#individualBlog h4{

	margin-top: 60px;
	color: white;
}

#individualBlog li{

	margin-top: 20px;
	margin-bottom: 40px;
	list-style-type: none;
}

#commentSection  {

	width: 530px;
	margin: 0 auto;

}

#commentSection h4 {

	color: purple;

}
#commenter {

	font-size: 11px;
}

#commentSection p {

	margin-left: -40px;
	margin-bottom: 20px;
}

#message{

	margin-bottom: -20px;
	color: white;
	text-align: center;
}
