doctype
html
	head
		title #{title} - Fre's blog
		style(type="text/css"): include ../styles/index.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript'): include ../scripts/index.js

	body
		#header
			h2= username + "'s homepage"
		
		#homeMenu
			a#create(class='button') Create
			a#viewOwn(class='button') Your blog posts
			a#all(class='button') All blog posts
			a#logout(class='button' href='/logout') Log out

		#createForm
			form(action="http://localhost:3000/addBlog" id="addBlog" method="post")
				p Blog title
				input(type="text", name="blogTitle")
				p Text
				textarea#blogText(form="addBlog" name="body") Write your blog..
				p
				input(type="submit", value="Post" name="submit")
		#yourPosts
			h4 Dit is een titel
			p Hier typ ik alle tekst enzo


	script(type='text/javascript'): include ../scripts/index.js