doctype
html
	head
		title #{title} - Fre's blog
		style(type="text/css"): include ../styles/index.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

	body
		h1 B.Bloggy
		#message
			if message
				p= message
		#menu
			a#login(class='button') Log in
			a#regist(class='button') Register
		#loginForm
			form(action="http://localhost:3000/login" method="post")
				p Username
				input(type="text", name="username")
				p Password
				input(type="password", name="password")
				p
				input#submit(type="submit", value="Log in" name="submit")
		#registForm
			form(action="http://localhost:3000/register" method="post")
				p Username
				input(type="text", name="usernameR")
				p Password
				input(type="text", name="passwordR")
				p Email
				input(type="text", name="emailR")
				p
				input#submitR(type="submit", value="Submit" name="submit")
			#succesRegist

			


	script(type='text/javascript'): include ../scripts/index.js