doctype
html
	head
		title #{title} - Fre's blog
		style(type="text/css"): include ../styles/index.css
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript'): include ../scripts/index.js

	body
		#header
			h2= username + "'s homepage"
		
		#homeMenu
			a#create(class='button' href='/home') Create
			a#viewOwn(class='button' href='/profile') Your blog posts
			a#all(class='button' href='/allposts') All blog posts
			a#logout(class='button' href='/logout') Log out

		#yourPosts
			ul
				each i in data
					h4= i.title
					li= i.body
			



	script(type='text/javascript'): include ../scripts/index.js